In [28]:
import pandas as pd
import numpy as np

In [30]:
samp_data=pd.DataFrame({'A':[78.51,87.2,np.nan,47.67,np.nan],
                       'B':[57.21,np.nan,24.8,57.21,np.nan]},
                      index=[0,1,2,3,4])

In [31]:
samp_data

       A      B
0  78.51  57.21
1  87.20    NaN
2    NaN  24.80
3  47.67  57.21
4    NaN    NaN

In [36]:
samp_data.dropna(thresh=2)

       A      B
0  78.51  57.21
3  47.67  57.21