In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('D:/CC/weight and height.csv')

In [3]:
df.head()

      Weight      Height
0  67.062924  176.086355
1  68.804094  178.388669
2  60.930863  170.284496
3  59.733843  168.691992
4  65.431230  173.763679

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler= MinMaxScaler()

In [9]:
norm_array=scaler.fit_transform(df[['Weight','Height']])

In [12]:
norm_df = pd.DataFrame(norm_array, columns= df.columns)

In [13]:
norm_df.head()

     Weight    Height
0  0.820518  0.849919
1  0.906430  0.972954
2  0.517951  0.539868
3  0.458888  0.454764
4  0.740007  0.725795