In [81]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [82]:
df=pd.read_csv('C:\\Users\\RAM\\Downloads\\py-master\\py-master\\ML\\14_naive_bayes\\spam.csv')

In [83]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [85]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [86]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [87]:
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam,test_size=0.25)

In [88]:
from sklearn.pipeline import Pipeline

In [89]:
clf=Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [90]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [91]:
clf.score(X_test,y_test)

0.9820531227566404

In [92]:
clf.predict(X_test[:6])

array([0, 0, 0, 0, 0, 0], dtype=int64)