In [1]:
import pandas as pd

In [6]:
cardata={'showroom1':pd.Series(data=[5,8,9],index=['a','b','c']),
        'showroom2':pd.Series(data=[2,8,46],index=['a','b','c'])}

In [7]:
cardata

{'showroom1': a    5
 b    8
 c    9
 dtype: int64,
 'showroom2': a     2
 b     8
 c    46
 dtype: int64}

In [8]:
CarDF=pd.DataFrame(cardata)

In [9]:
CarDF

   showroom1  showroom2
a          5          2
b          8          8
c          9         46