In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('D:\\CC\\csv_data.csv')

In [4]:
df

        Date     Price
0    1950-01    34.730
1    1950-02    34.730
2    1950-03    34.730
3    1950-04    34.730
4    1950-05    34.730
..       ...       ...
841  2020-02  1598.818
842  2020-03  1593.764
843  2020-04  1680.030
844  2020-05  1715.697
845  2020-06  1734.032

[846 rows x 2 columns]

In [5]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ram\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: jdcal in c:\users\ram\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\ram\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
df1=pd.read_excel('D:\\CC\\xl_data.xlsx')

In [7]:
df1

        Date     Price
0    1950-01    34.730
1    1950-02    34.730
2    1950-03    34.730
3    1950-04    34.730
4    1950-05    34.730
..       ...       ...
841  2020-02  1598.818
842  2020-03  1593.764
843  2020-04  1680.030
844  2020-05  1715.697
845  2020-06  1734.032

[846 rows x 2 columns]

In [8]:
df.to_csv('D:\\CC\\csv_data_write.csv')

In [10]:
df.to_excel('D:\\CC\\xl_data_write.xlsx')